<div class="container questions-container">
  <div class="row" style="margin-top: 1rem;">
    <h3>Edit Question</h3>
    <div class="col-12 questions-column">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control
            nzHasFeedback
            nzValidatingTip="Validating..."
            [nzErrorTip]="titleErrorTpl"
          >
            <nz-form-label nzRequired>Q.Title</nz-form-label>
            <nz-input-group>
              <input
                nz-input
                formControlName="title"
                placeholder="write question title"
                style="border-radius: 8px"
              />
            </nz-input-group>
            <ng-template #titleErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >Please input question title!</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control
            nzHasFeedback
            nzValidatingTip="Validating..."
            [nzErrorTip]="quesErrorTpl"
          >
            <nz-form-label nzRequired>Question</nz-form-label>
            <nz-input-group>
              <input
                nz-input
                formControlName="questions"
                placeholder="write your question"
              />
            </nz-input-group>
            <ng-template #quesErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >Please input your question!</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="Please select skill level!">
            <nz-form-label nzRequired>Skill level</nz-form-label>
            <nz-select
              formControlName="skillName"
              nzPlaceHolder="Select a option and change input text above"
            >
              <nz-option [nzValue]="2" nzLabel="Hard"></nz-option>
              <nz-option [nzValue]="1" nzLabel="Medium"></nz-option>
              <nz-option [nzValue]="0" nzLabel="Easy"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="Please write description!">
            <nz-form-label [nzSpan]="7" nzRequired>Q.Description</nz-form-label>
            <textarea
              formControlName="description"
              nz-input
              rows="2"
              placeholder="write any description"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSpan]="20">
            <button class="submit-button" nz-button nzType="primary">
              Edit
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
