<nz-table
  class="table"
  #basicTable
  [nzData]="exams"
  [nzTotal]="totalCount"
  [nzPageSize]="5"
  nzShowPagination
  [nzFrontPagination]="false"
  (nzPageIndexChange)="onPageIndexChange($event)"
>
  <thead>
    <tr>
      <th>Title</th>
      <th>Question Count</th>
      <th>Duration</th>
      <th>Score</th>
      <th>Exam Date</th>
    </tr>
  </thead>
  <tbody>
    <tr
      style="cursor: pointer"
      *ngFor="let examEl of exams"
      [routerLink]="[examEl.exmaId, examEl.examDate]"
    >
      <td>{{ examEl.title }}</td>
      <td>{{ examEl.questionCount }}</td>
      <td>{{ examEl.duration }}</td>
      <td>{{ examEl.score }}</td>
      <td>{{ examEl.examDate | date : "dd/MM/yyyy hh:mm a" }}</td>
    </tr>
  </tbody>
</nz-table>
