.collapse-container {
  width: 94%;
  margin: 1rem 3% 1rem 3%;
}

.exam-content-container {
  padding: 1rem;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.buttons-container a:first-child i {
  color: red;
  font-size: larger;
  margin-right: 1rem;
}

.buttons-container a:last-child i {
  color: green;
  font-size: larger;
  margin-left: 1rem;
}

.url-text-copy {
  display: flex;
}

.url-text-copy p {
  margin-right: 0.3rem;
}

.url-text-copy i {
  font-size: larger;
  color: gray;
  cursor: pointer;
}

/* media */
@media screen and (max-width: 480px) {
  .url-text-copy {
    display: flex;
    flex-direction: column;
  }
}
