<div class="container" *ngIf="subjects.length === 0">
  <h1>There are no Subjects!</h1>
</div>
<div class="container" *ngIf="!(subjects.length === 0)">
  <div class="row" style="margin: 1rem 0rem 1rem 0rem">
    <div
      class="col-xs-2 col-sm-2 col-md-3 col-lg-3"
      style="padding-left: 0; margin-bottom: 1rem"
    >
      <button nz-button nzType="primary" (click)="onCreateSubject()">
        Create subject<i nz-icon nzType="plus-circle" nzTheme="outline"></i>
      </button>
    </div>
    <div
      *ngIf="createSubjectFlag"
      class="col-xs-12 col-sm-12 col-md-5 col-lg-5"
    >
      <form
        nz-form
        [formGroup]="validateForm"
        class="login-form"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item style="width: auto">
          <nz-form-control
            nzHasFeedback
            nzErrorTip="Please input subject name!"
          >
            <nz-input-group nzPrefixIcon="book">
              <input
                type="text"
                nz-input
                formControlName="name"
                placeholder="Input your subject name!"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button nzType="primary">
          {{ editMode ? "Edit" : "Submit"
          }}<i nz-icon nzType="send" nzTheme="outline"></i>
        </button>
      </form>
    </div>
  </div>
  <nz-table
    #headerTable
    style="width: 90%; margin-left: 5%"
    [nzData]="subjects"
    [nzPageSize]="10"
    nzScrolly="500px"
  >
    <thead>
      <tr>
        <th>Subject name</th>
        <th nzWidth="100px"></th>
        <th nzWidth="100px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subjectEl of subjects">
        <td class="table-cell" [routerLink]="[subjectEl.id]">
          {{ subjectEl.name }}
        </td>
        <td class="table-cell edit-subject">
          <i
            (click)="onSubjectEdit(subjectEl.id, subjectEl.name)"
            nz-icon
            nzType="edit"
            nzTheme="outline"
          ></i>
        </td>
        <td class="table-cell delete-subject">
          <a
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this item?"
            (nzOnConfirm)="confirm(subjectEl.id)"
            (nzOnCancel)="cancel()"
          >
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
