button {
  display: flex;
  align-items: center;
}

.subject-container {
  background-color: #fff;
  width: 13rem;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  margin-bottom: 1.3rem;
  border-radius: 8px;
  border: 1px dashed #2A4E70;
}


.subject-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subject-buttons i {
  margin-right: 0.7rem;
  cursor: pointer;
  font-size: large;
  transition: 0.5s ease;
}

.subject-buttons i:hover {
  font-size: larger;
}


.table-cell {
  cursor: pointer;
}

.edit-subject i{
  color: green;
  transition: 0.5s ease;
}

.delete-subject i{
  color: red;
  transition: 0.3s ease;
}

.edit-subject i:hover, .delete-subject i:hover {
  font-size: larger;
}

