<div class="container">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="titleErrorTpl"
      >
        <nz-form-label [nzSpan]="7" nzRequired>Q.Title</nz-form-label>
        <nz-input-group>
          <input
            nz-input
            formControlName="quesTitle"
            placeholder="write question title"
          />
        </nz-input-group>
        <ng-template #titleErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >Please input question title!</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="quesErrorTpl"
      >
        <nz-form-label [nzSpan]="7" nzRequired>Question</nz-form-label>
        <nz-input-group>
          <input
            nz-input
            formControlName="question"
            placeholder="write your question"
          />
        </nz-input-group>
        <ng-template #quesErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >Please input your question!</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="rightAnswerErrorTpl"
      >
        <nz-form-label [nzSpan]="7" nzRequired>Right Answer</nz-form-label>
        <nz-input-group>
          <input
            nz-input
            formControlName="rightAnswer"
            placeholder="write your right answer"
          />
        </nz-input-group>
        <ng-template #rightAnswerErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >Please input your right answer!</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <div formArrayName="wrongAnswers">
      <nz-form-item *ngFor="let control of getControls(); let i = index">
        <nz-form-label
          *ngIf="i === 0"
        >
          Wrong Answers
        </nz-form-label>
        <nz-form-control
          nzErrorTip="Please input wrong answer or delete this field."
        >
          <input
            nz-input
            placeholder="placeholder"
            formControlName="wrongAnswer"
          />
          <i
            nz-icon
            nzType="minus-circle-o"
            class="dynamic-delete-button"
            (click)="removeField(i)"
          ></i>
        </nz-form-control>
      </nz-form-item>
    </div>
    <nz-form-item>
      <nz-form-control
        [nzXs]="{ span: 24, offset: 0 }"
        [nzSm]="{ span: 20, offset: 4 }"
      >
        <button
          nz-button
          nzType="dashed"
          class="add-button"
          (click)="addField()"
        >
          <i nz-icon nzType="plus"></i>
          Add field
        </button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzHasFeedback [nzSpan]="12">
        <nz-form-label [nzSpan]="7">Q.Description</nz-form-label>
        <textarea
          formControlName="description"
          nz-input
          rows="2"
          placeholder="write any description"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="12">
        <button nz-button nzType="primary" >
          Submit
        </button>
        <button nz-button (click)="resetForm($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
