.collapse-container {
  width: 95%;
  margin: 1rem 2.5% 1rem 2.5%;
}

.question-content-container {
  padding: 1rem;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.delete-icon {
  font-size: larger;
  color: red;
}
