<div class="container" *ngIf="allQuestions.length === 0">
  <h3>There are no questions!</h3>
</div>
<nz-collapse class="collapse-container" *ngIf="!(allQuestions.length === 0)">
  <nz-collapse-panel
    *ngFor="let questionEl of allQuestions; let i = index"
    [nzHeader]="i + 1 + '. ' + questionEl.title"
    [id]="questionEl.id"
  >
    <div class="question-content-container">
      <div class="question-container">
        <h5>Question :</h5>
        <p>{{ questionEl.questions }}</p>
      </div>
      <div class="description-container">
        <h5>Description :</h5>
        <p>{{ questionEl.description }}</p>
      </div>
      <div class="answerlist-container">
        <h5>Answers List :</h5>
        <hr />
        <div
          class="answers"
          *ngFor="let answerEl of questionEl.answersList; let i = index"
        >
          <h6>Answer name :</h6>
          <p>{{ answerEl.answer }}</p>
          <h6>Answer check correction :</h6>
          <p>{{ answerEl.isCorrect }}</p>
          <hr />
        </div>
      </div>
      <div class="buttons-container">
        <a
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this item?"
          (nzOnConfirm)="confirm(questionEl.id)"
          (nzOnCancel)="cancel()"
        >
          <button class="btn btn-outline-danger">Delete</button>
        </a>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
