<div class="row">
  <div class="col-12 answer-column">
    <div class="add-answer-container">
      <h3>{{ editFlag ? "Edit-Answer" : "Add-answer" }}</h3>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control
            nzValidatingTip="Validating..."
            [nzErrorTip]="wrongAnswersErrorTpl"
          >
            <nz-form-label nzRequired>Answer </nz-form-label>
            <nz-input-group>
              <input
                nz-input
                placeholder="Write your answer"
                formControlName="answer"
              />
            </nz-input-group>
            <ng-template #wrongAnswersErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >Please input your answer!</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control
            nzHasFeedback
            nzErrorTip="Please select if your answer is true or not!"
          >
            <nz-form-label nzRequired
              >Choose correction of answer?</nz-form-label
            >
            <nz-select
              formControlName="isCorrect"
              nzPlaceHolder="Select a option and change input text above"
            >
              <nz-option [nzValue]="true" nzLabel="True"></nz-option>
              <nz-option [nzValue]="false" nzLabel="False"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <button class="submit-button" nz-button nzType="primary">
            {{ editFlag ? "Edit" : "Submit" }}
          </button>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
