<!-- <nav style="background-color: #2A4E70" class="navbar navbar-expand-lg"> -->
<nav  style="background-color: #002140" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #fff" href="/">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="color: #fff"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="justify-content: end;" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="!isLogined" class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            style="color: #fff"
            (click)="onNavigateLogin()"
            >Login</a
          >
        </li>
        <li *ngIf="!isLogined" class="nav-item" >
          <a class="nav-link" (click)="onNavigateSignUp()" style="color: #fff"
            >Signup</a
          >
        </li>
        <li *ngIf="isLogined" class="nav-item" >
          <a class="nav-link" (click)="onLogout()" style="color: #fff"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
