<div class="container">
  <div class="row" style="margin: 1rem 0rem 1rem 0rem">
    <div
      class="col-xs-2 col-sm-2 col-md-3 col-lg-3"
      style="padding-left: 0; margin-bottom: 1rem"
    >
      <button nz-button nzType="primary" (click)="onCreatelevel()">
        Create level<i nz-icon nzType="plus-circle" nzTheme="outline"></i>
      </button>
    </div>
    <div *ngIf="createLevelFlag" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <form
        nz-form
        [formGroup]="validateForm"
        class="login-form"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item style="width: auto">
          <nz-form-control nzHasFeedback nzErrorTip="Please input level name!">
            <nz-input-group nzPrefixIcon="book">
              <input
                type="text"
                nz-input
                formControlName="name"
                placeholder="Input your level name!"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button nzType="primary">
          {{ editMode ? "Edit" : "Submit"
          }}<i nz-icon nzType="send" nzTheme="outline"></i>
        </button>
      </form>
    </div>
  </div>
  <nz-table
    #headerTable
    style="width: 90%; margin-left: 5%"
    [nzData]="levels"
    [nzPageSize]="10"
    nzScrolly="500px"
  >
    <thead>
      <tr>
        <th>Level name</th>
        <th nzWidth="100px"></th>
        <th nzWidth="100px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let level of levels; let i = index">
        <td
          nz-popover
          nzPopoverTitle="Choose where you want to go!"
          [(nzPopoverVisible)]="visible"
          (nzPopoverVisibleChange)="change($event)"
          nzPopoverTrigger="click"
          [nzPopoverContent]="contentTemplate"
          nzPopoverPlacement="right"
          class="table-cell"
        >
          {{ level.name }}
        </td>
        <ng-template #contentTemplate>
          <a [routerLink]="[level.id, 'createQues']">Create Questions</a>
          <hr />
          <a [routerLink]="[level.id, 'createExam']">Create Exams</a>
          <hr />
          <a [routerLink]="[level.id, 'viewQues']">View Questions</a>
          <hr />
          <a [routerLink]="[level.id, 'viewExams']">View Exams</a>
          <br />
          <br />
          <a style="color: darkred" (click)="clickMe()">Close</a>
        </ng-template>
        <td class="table-cell edit-level">
          <i
            (click)="onLevelEdit(level.id, level.name)"
            nz-icon
            nzType="edit"
            nzTheme="outline"
          ></i>
        </td>
        <td class="table-cell delete-level">
          <a
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this item?"
            (nzOnConfirm)="confirm(level.id)"
            (nzOnCancel)="cancel()"
          >
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
