.exam-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.exam-container {
  background-color: #fff;
  padding: 1.5rem;
  width: 40rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.exam-container h2 {
  text-align: center;
}

.questions-number {
  text-align: end;
}

.countdown {
  text-align: center;
}

.exam-container h1 {
  text-align: center;
}

.exam-form-button {
  width: 100%;
  margin-bottom: 16px;
}

.separator {
  width: 60%;
  border: 0.7px dashed #1890ff;
  margin: 1rem 20% 1rem 20%;
}


.time-input {
  width: 100%;
}

.back-link {
  display: flex;
  align-items: center;
  color: #002140;
}

.back-link i {
  font-size: larger;
}

.back-link span {
  color: #002140;
  font-weight: 600;
}

.submit-button , .next-button {
  margin-top: 1rem;
}

.result {
  width: 60%;
  margin-left: 20%;
  margin-top: 2rem;
}
