<p>exam works!</p>
<countdown
  [config]="{ leftTime: time }"
  (event)="handleEvent($event)"
></countdown>
<div class="row" style="margin: 0">
  <div class="col-12 exam-col">
    <div class="login-container">
      <h2>{{ titleExam }}</h2>
      <div class="separator"></div>
      <p>{{ currentQuestion + 1 + "of" + examData.length }}</p>
      <h3>
        {{ examData[currentQuestion]?.questions }}
      </h3>
      <nz-radio-group
        *ngFor="let answerEl of examData[currentQuestion]?.answerlist"
        onchange="testRadio($event)"
      >
        <label nz-radio [nzValue]="answerEl.id">{{ answerEl.answer }}</label>
      </nz-radio-group>
      <button
        *ngIf="this.currentQuestion + 1 === this.examData.length"
        nz-button
        (click)="onSubmit()"
        class="exam-form-button"
        [nzType]="'primary'"
      >
        submit
      </button>
      <button
        *ngIf="!(this.currentQuestion + 1 === this.examData.length)"
        nz-button
        (click)="onNext(examData[currentQuestion]?.id, '15562')"
        class="exam-form-button"
        [nzType]="'primary'"
      >
        Next
      </button>
      <button
        nz-button
        (click)="onBack()"
        class="exam-form-button"
        [nzType]="'primary'"
      >
        Back
      </button>
    </div>
  </div>
</div>
