<p>exam works!</p>
<countdown
  [config]="{ leftTime: time }"
  (event)="handleEvent($event)"
></countdown>
<!-- <div class="row" style="margin: 0">
  <div class="col-12 exam-col">
    <div class="login-container">
      <h2>{{ titleExam }}</h2>
      <div class="separator"></div>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div formArrayName="correctLists">
          <nz-form-item formControlName="questionId" class="answer-item">
            {{examData[1].titleExam}}
          </nz-form-item>
          <input type="text" formControlName="questionId" [value]="examData[1].id">
          <nz-radio-group formControlName="answerId" *ngFor="let answerEl of examData[1].answerlist">
            <label nz-radio [nzValue]="answerEl.id">{{ answerEl.id }}</label>
          </nz-radio-group>
        </div>
        <button nz-button class="exam-form-button" [nzType]="'primary'">
          submit
        </button>
        <a class="back-link" [routerLink]="['../../']"
          ><i nz-icon nzType="step-backward" nzTheme="outline"></i
          ><span>Back</span></a
        >
      </form>
    </div>
  </div>
</div> -->
