<div class="row">
  <div class="col-12 level-column">
    <div class="level-container">
      <h2>{{ levelName }}</h2>
      <form [formGroup]="validateForm">
        <nz-form-item style="justify-content: center; margin-top: 2rem">
          <nz-form-control nzHasFeedback nzErrorTip="Please select your role!">
            <nz-select
              class="level-selection"
              formControlName="mode"
              nzPlaceHolder="Select a option and change input text above"
              (ngModelChange)="modeChange($event)"
            >
              <nz-option nzValue="CQ" nzLabel="Create Questions"></nz-option>
              <nz-option nzValue="CE" nzLabel="Create Exam"></nz-option>
              <nz-option nzValue="VQ" nzLabel="View Questions"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
