<div class="login-container">
  <h1>Login</h1>
  <div class="separator"></div>
  <form
    nz-form
    [formGroup]="validateForm"
    class="login-form"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Please input your username!">
        <nz-form-label nzRequired>Username</nz-form-label>
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="userName"
            placeholder="Username"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Please input your Password!">
        <nz-form-label nzRequired>Password</nz-form-label>
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
            minlength="8"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="24">
        <a class="login-form-forgot">Forgot password</a>
      </div>
    </div>
    <button
      nz-button
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
    >
      Log in
    </button>
    Or
    <a routerLink="/signup">register now!</a>
  </form>
</div>
