.login-form {
  width: 20rem;

}

.login-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container h1 {
  text-align: center;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.separator {
  width: 60%;
  border: 0.7px dashed #1890ff;
  margin: 1rem 20% 1rem 20%;
}
