[nz-form] {
  height: 23rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.5rem
}

.signup-container {
  background-color: #fff;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  margin: 0 0.6rem 0 0.6rem;
}

button {
  margin-left: 8px;
}

.separator {
  width: 60%;
  border: 0.7px dashed #034685;
  margin: 1rem 20% 1rem 20%;
}


.signup-container h1 {
  text-align: center;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 400px) {
  [nz-form] {
    width: 16rem;
  }
}
