<app-header></app-header>
<div class="row" style="margin: 0">
  <div
    class="col-12"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
    "
  >
    <div class="login-container">
      <h1>Login</h1>
      <div class="separator"></div>
      <form
        nz-form
        [formGroup]="validateForm"
        class="login-form"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item>
          <nz-form-control
            nzHasFeedback
            nzValidatingTip="Validating..."
            nzErrorTip="Please input your email!"
          >
            <nz-form-label nzRequired>Email</nz-form-label>
            <nz-input-group nzPrefixIcon="user">
              <input
                type="text"
                nz-input
                formControlName="email"
                placeholder="Email"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control
            nzHasFeedback
            nzValidatingTip="Validating..."
            [nzErrorTip]="passErrorTpl"
          >
            <nz-form-label nzRequired>Password</nz-form-label>
            <nz-input-group nzPrefixIcon="lock">
              <input
                type="password"
                nz-input
                formControlName="password"
                placeholder="Password"
              />
            </nz-input-group>
            <ng-template #passErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >Please input your password!</ng-container
              >
              <ng-container *ngIf="control.hasError('pattern')"
                >The password is invalid!</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="24">
            <a class="login-form-forgot">Forgot password</a>
          </div>
        </div>
        <button
          nz-button
          class="login-form-button login-form-margin"
          [nzType]="'primary'"
        >
          Log in
        </button>
        Or
        <a routerLink="/signup">register now!</a>
      </form>
    </div>
  </div>
</div>
